@import "../../styles/colors";
@import "../../styles/breakpoints";

.input {
  border-radius: 1rem;
  border: 1px solid $text-color;
  color: white;
  height: 3.0625rem;
  padding: 0.7rem 1.2rem;
  min-width: 20rem;
  @media screen and (max-width: $mobile) {
    min-width: auto;
    width: 100%;
  }
}

.label{
  display: inline-block;
}
