@import "../../styles/colors";

.card{
  border-radius: 1rem;
  padding: 1rem;
  background-color: $background;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.name{
  margin-bottom: 0.625rem;
}

.avatar{
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid $accent03;
}

.link{
  color: $accent02;
  transition: color 0.3s ease;
  &:hover{
    color: $accent04;
  }
  &:visited{
    opacity: 0.8;
  }
}
